html {
  scroll-behavior: smooth;
  font-family:Roboto;
  
}
body{
	background:#746c6c;	
}
.card {
     position: relative;
     background:#D393BD;
     overflow: hidden;
	-webkit-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
	-webkit-transition:all .4s linear;/**new*/
transition:all .4s ease;/**new*/
cursor: pointer;
transform:scale(0.9);
}

.card::before{
     content: '';
     position: absolute;
     background: #9bdc28;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     clip-path: circle(150px at 80% 20%);
     transition: 0.5s ease-in-out;

}
.card:hover::before{
     clip-path: circle(300px at 80% 20%);
}
.imgbx{
     /* position: absolute; */
     top: 50%;
     transform: translateY(33%);
     z-index: 10000;
     width: 100%;
     height: 186px;
     transition: 0.5s;
     text-align: center;
}
.card:hover .imgbx{
     transform: translateY(10%);
}

.imgbx img{


}

.card-body{
     opacity: 0;
    transition: 0.5s ease-in-out;
    padding: 0;

}

.card-header{
   
    color: #2f2235;
    padding: 30px;
    font-weight: 600;
   background: #D393BD;
    height: 1rem;
    transition: 0.5s ease-in-out;
}

.card:hover .card-header{
     height: 20rem;
     background: #b88fab;
}
.card:hover .card-body{
     position: absolute;
     opacity: 1 ;
}
.card:hover .imgbx{
     height: 120px;
}
.btn{
	background: #2B2842;
	
	border:none;
	height:35px;
	border-radius:10px;
	-webkit-transition:all .4s linear;/**new*/
transition:all .4s ease;/**new*/
}

#card2::before{
     content: '';
     position: absolute;
     background: #2cb67d;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     clip-path: circle(550px at 80% 20%);
     transition: 0.5s ease-in-out;

}
#card2:hover::before{
     clip-path: circle(600px at 80% 20%);
}

#card2:hover .card-header{
     height: 10rem;
     background: #b38fa8;
}

#card2 .card-text{
     color: #fffffe;
}
.card-tittle{
     color:#2e3655
}

#card4 {
     position: relative;
     width: 300px;
     height: 400px;
     margin: 0 auto;
     background: #000;
     border-radius: 15px;
     box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
#card4::before{

     content: '';
     position: absolute;
     background: #2cb67d;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     clip-path: circle(150px at 80% 20%);
     transition: 0.5s ease-in-out;

}

#card4:hover::before{
     clip-path: circle(300px at 80% 20%);
}
     .face {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
     }

     .face1 {
          box-sizing: border-box;
          padding: 20px;
     }
     .face2 {
          transition: 0.5s ease-in-out;
     }
     .java {
          background-color: #edecbf;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .card:nth-child(1) .face.face2 {
        background: #D393BD;
          border-radius: 15px;
        }

        .card:hover .face.face2 {
          height: 60px;
        }
        
        .face2{
             flex-direction: column;
        }
        #c4img{
          transform: translateY(3%);
        }

        .card:hover #c4img{
             opacity: 0;
             height: 0px;
        }